<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>上海交通大学学生报到注册管理系统</title>
<!--                       CSS                       -->
<!-- Reset Stylesheet -->
<link rel="stylesheet" href="{{static_url("css/reset.css")}}" type="text/css" media="screen" />
<!-- Main Stylesheet -->
<link rel="stylesheet" href="{{static_url("css/style.css")}}" type="text/css" media="screen" />
<!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
<link rel="stylesheet" href="{{static_url("css/invalid.css")}}" type="text/css" media="screen" />
<!--                       Javascripts                       -->
<!-- jQuery -->
<script type="text/javascript" src="{{static_url("scripts/jquery-1.3.2.min.js")}}"></script>
<!-- jQuery Configuration -->
<script type="text/javascript" src="{{static_url("scripts/simpla.jquery.configuration.js")}}"></script>
<!-- Facebox jQuery Plugin -->
<script type="text/javascript" src="{{static_url("scripts/facebox.js")}}"></script>
<!-- jQuery WYSIWYG Plugin -->
<script type="text/javascript" src="{{static_url("scripts/jquery.wysiwyg.js")}}"></script>
</head>
<body id="login">
<div id="login-wrapper" class="png_bg">
  <div id="login-top">
    <h1>管理员登陆</h1>
    <!-- Logo (221px width) -->
    <a href="http://www.865171.cn"><img id="logo" src="{{static_url("images/logo.png")}}" alt="Simpla Admin logo" /></a> </div>
  <!-- End #logn-top -->
  <div id="login-content">
    <form action="/admin">
      <div class="notification information png_bg">
        <div> {{notification}} </div>
      </div>
      <p>
        <label>用户名</label>
        <input class="text-input" type="text" />
      </p>
      <div class="clear"></div>
      <p>
        <label>密码</label>
        <input class="text-input" type="password" />
      </p>
      <div class="clear"></div>
      <p id="remember-password">
        <input type="checkbox"/> 记住我
        </p>
      <div class="clear"></div>
      <div class="notification png_bg">
        <a href="/admin/jalogin">Jaccount登陆</a>
      </div>
      <p>
        <input class="button" type="submit" value="登陆" />
      </p>
    </form>
    </div>
  </div>
  <!-- End #login-content -->
</div>
<!-- End #login-wrapper -->
</body>
</html>
