<div class="bulk-actions align-left">
	<form action="" method="GET">
		<span style = "padding:0.4em ; height: 30px ; font-size:18px">开始时间:<input type="text" class="text-input small-input" id="datepicker1" name="start"/></span>
		<span style = "padding:0.4em ; height: 30px ; font-size:18px">结束时间:<input type="text" class="text-input small-input" id="datepicker2" name="terminal"/></span>
		<input id="search_submit" type="button" value="&#26597;&#35810;">
	</form>
</div>
<div class="clear"></div>
<table>
	<thead>
		<tr>
			<th>序号</th>
			<th>学号</th>
			<th>姓名</th>
			<th>签到时间</th>
			<th>签到情况</th>
			<th>学院</th>
		</tr>
		<tr class="clear"></tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="6">
				<div class="clear"></div>
			</td>
		</tr> 
	</tfoot>
	<tbody id="table-body">
		<tr>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
	</tbody>
</table>