<div class="bulk-actions align-left">
	<form action="" method="GET">
		<select name="op" id="search_type">
					  <option value="option1">姓名</option>
					  <option value="option2">学号</option>
					  <option value="option3">用户名</option>
    	</select>
		<input id="search_key" class="text-input small-input" type="text" id="small-input2" name="q"/>
		<input id="search_submit" type="button" value="&#26597;&#35810;">
	</form>
</div>
<div class="clear"></div>
<table>
	<thead>
		<tr>
			<th>
				&#24207;&#21495;
		</th>
			<th>&#23398;&#21495;</th>
			<th>&#22995;&#21517;</th>
			<th>&#31614;&#21040;&#26102;&#38388;</th>
			<th>&#31614;&#21040;&#24773;&#20917;</th>
			<th>&#25805;&#20316;</th>
		</tr>
		<tr class="clear"></tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="6">
				<!-- End .pagination -->
				<div class="clear"></div>
			</td>
		</tr>
	</tfoot>

	<tbody id="table-body">
		<tr>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>
				<!-- Icons -->
				<a href="#" title="Edit"><img src= '../static/images/icons/pencil.png'				title="确认此次签到" 	alt="Edit" /></a>
				<a href="#" title="Reset"><img src='../static/images/icons/hammer_screwdriver.png' 	title="重置该用户" 		alt="Reset" /></a>
				<a href="#" title="Delete"><img src='../static/images/icons/cross.png' 				title="删除此次签到"	alt="Delete" /></a>
			</td>
		</tr>
	</tbody>
</table>
